body{
    font-family: 'Darker Grotesque', sans-serif;
} 

a, a:hover{
    color:white;
    font-size: 18px;
}

/* **************************HEADER CSS  */

#picture-header {
    background-image: url('/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}
.titleNavbar{
    font-size: 32px;
}
.breadcrumb-item{
    font-size: 22px;
    font-weight: bold;
}

/* ***************************PAGE HOME CSS  */

.bodyHome{
    background-image: url("bike-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.containerHome .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 28px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

/* *************************PAGE INDEX CSS  */

.btn{
    margin-left: 5px;
    margin-bottom: 10px;
    padding : 2px 8px;
}
.card {
    margin-bottom: 20px;
  }
  .basket-img{
      width: 170px;
  }  
.container{
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* width: 100%; */
}
.card-text{
    font-weight: bold;
}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    /* background-color: purple; */
    display: flex;
    margin: 10px;
    align-items: center;
}
.col{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.row{
    background-color: blue;
    width:100%;
    display: flex;
    justify-content: center;

}

/* ***************************PAGE SHOP CSS  */

.table{
    /* background-color: green; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;s */
    width: 90%;
}
.colTitle{
    font-size: 22px;
}
img{
    width:100px;
}
.totalBasket{
    font-weight: bold;
}

.btn-checkOut{
    font-weight: bold;
}
.divCheckOut{
    /* background-color: indigo; */
    margin: 5px 90px;
}